.home{
    position: relative;

}

.home__container{
    padding-top: 2.5rem;
    row-gap: 2rem;
}
.home__data{
    position: relative;
    text-align: center;
}

.home__title{
  font-size: var(--biggest-font-size);
  font-family: var(--second-font);
  margin-bottom: 1rem;
}
.home__descrption{
    margin-bottom: 2rem;
}

.home__fruit,
 .home__branch{
    filter: var(--filter-img);
    position: absolute;
}

.home__fruit{
    width: 40px;
    top: 6.75rem;
    left: 1rem;
}

.home__img{
    width: 320px;
    justify-self: center;
    filter: var(--shadow-img);
}

.home__branch{
    width: 120px;
    right: -3rem;
    bottom: 15rem;

}

/* button */

.button{
    display: inline-block;
    padding: 1rem 2rem;
    background-color: var(--first-color);
    border-radius: 4rem;
    color: var(--white-color);
    font-weight: var(--font-semi-bold);
    transition: box-shadow .4s;

}

.button:hover{
    box-shadow: 0 0 1rem var(--first-color);
}