.popular__container{
    padding-top: 6rem;
    grid-template-columns: 250px;
    justify-content: center;
    row-gap: 6rem;

}

.popular__card{
    position: relative;
    padding-block: 6.25rem 3rem;
    text-align: center;
}

.popular__bg{
    width: 100%;
    height: 100%;
    background-color: var(--container-color);
    border-radius: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform: skewY(4deg);
    transition: background-color .4s;
}
.popular__img{
    width: 150px;
    margin: 0 auto .75rem;
    position: absolute;
    top: -4rem;
    left: 0;
    right: 0;
    filter: var(--shadow-img);
    transition:  transform .4s;
}

.popular__title{
    font-size: var(--h2-font-size);
    font-family: var(--second-font);
    margin-bottom:.25rem;
}
.popular__subtitle{
    font-size: var(--small-font-size);
    display: block;
    margin-bottom: .75rem;
}

.popular__price{
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
}
.popular__button{
    width: 36px;
    height: 36px;
    padding: 8px;
    display: grid;
    place-items: center;
    font-size: 1.25rem;
    font-weight: initial;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    cursor: pointer;
}
.popular__card:hover .popular__img {
    transform: translateY(-.3rem);
}